*, :after, :before {
    box-sizing: border-box;
}

:root {
    --full-white: #fff;
    --text-top-nav: #edf3f7;
    --text-hover: #9ddbf8;
    --header-back: #26a9e0;
    --header-clickable-elem: #2660ab;
    --header-button-hover: #225496;
    --main-slider-button-color: #e9f6fc;
    --color8: #1d96c9;
    --color9: #707783;
    --color10: #209cd1;
}

::placeholder {
    opacity: 0.6;
}

html {
    scroll-behavior: smooth;
    scrollbar-width: 15px;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Inter', sans-serif;
    position: relative;
}

/* Top-nav div styles */

div.top-nav {
    width: 100%;
    background-color: #1d96c9;
    white-space: nowrap;
    border-bottom: 16px solid var(--header-back);
}                                                                                                                                                               

.top-nav-refs ul, .top-nav-refs-right-align ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.top-nav-refs {
    max-width: 1440px;
    align-items: center;
    display: flex;
    margin: 0;
}


.top-nav-elem > li {
    float: left;
    margin-left: 32px;
    display: flex;
}

.top-nav-center {
    position: relative;
    max-width: 1440px;
    padding: 10px 32px;
    margin: 0 auto;
    align-items: center;
    display: flex;
}

div.top-nav-refs-right-align {
    position: absolute;
    right: 0;
    display: flex;
    margin-left: auto;
    align-items: center;
    flex-grow: 1;
}

@media screen and (min-width: 1400px) {
    .top-nav-center {
        max-width: 1296px;
        padding-left: 0;
        padding-right: 0;
    }

    .top-nav-refs {
        max-width: 1296px;
    }

    .top-nav-refs-right-align {
        padding-left: 32px;
    }
}

li.last-top-nav-elems {
    float: left;
    margin-left: 20px;
}

#top-nav-elem-tel {
    padding-left: 8px;
    padding-right: 8px;
}

button.top-nav-elem, .top-nav-elem > li > button > span {
    background-color: transparent;
}

button.top-nav-elem{
    width: auto;
    font-weight: 500;
    padding: 0;
}
                                                                                                   
.top-nav-elem > li > a, .top-nav-refs-right-align > a, button.top-nav-elem {
    line-height: 18px;
    border: none;
    align-items: center;
    font-size: 12px;
    font-weight: 400;
    color: var(--text-top-nav);
    display: block;
    text-decoration: none;
    text-decoration-style: solid;
    text-align: left;
}

.top-nav-elem > li > a, .top-nav-refs-right-align > a {
    transition: color 0.2s ease;
}

.top-nav-elem> li > a:hover, .top-nav-refs-right-align > a:hover {
    color: var(--full-white);
}

button.top-nav-elem {
    cursor: pointer;
}

.svg-icon {
    fill: var(--full-white);
    display: block;
    float: left;
    margin-right: 4px;
}

#top-nav-place-span {
    font-weight: 500;
    line-height: 18px;
    max-width: 100%;
    font-family: Inter, sans-serif;
}

#top-nav-elem-button:hover {
    color: var(--text-hover);
}

#top-nav-elem-button {
    display: flex;
    color: var(--full-white);
    transition: color 0.2s ease;
}

button.top-nav-elem svg {
    transition: fill 0.2s ease;
}

button.top-nav-elem:hover svg {
    fill: var(--text-hover);
}

/* Header styles */

header {
    width: 100%;
    background-color: var(--header-back);
}

.sticky-header-row {
    position: relative;
    max-width: 1440px;
    margin: 0 auto;
    align-items: center;
    display: flex;
    padding: 8px 32px;
    width: 100%;
}

.header-row-elems {
    max-width: 1440px;
    display: flex;
    margin: 0;
    width: 100%;
}

.header-logo-icon {
    display: flex;
}

.header-logo {
    align-items: center;
}

.header-logo, .sticky-header-catolog {
    margin-right: 32px;
}

.sticky-header-catolog {
    padding-top: 0;
    margin-right: 44px;
    width: 100%;
}

.header-catalog-div {
    cursor: pointer;
    margin-right: 12px;
    justify-items: center;
    display: flex;
    border: 0;
    border-radius: 4px;
    background-color: var(--header-clickable-elem);
}


.header-catalog-div > button > span {
    color: var(--full-white);
    font-weight: 600;
}

.header-catalog-div button {
    cursor: pointer;
    font-family: inherit;
    border: 0;
    background-color: transparent;
    display: flex;
    font-size: 15px;
    padding: 10px 16px;
    line-height: 20px;
    font-weight: 600;
    align-items: center;
}

.header-catalog-div, .form-search-button {
    transition: background-color 0.3s ease;
}

.header-catalog-div:hover, .form-search-button:hover {
    background-color: var(--header-button-hover);
}

.header-catalog-div svg {
    fill: var(--full-white);
    margin-right: 8px;
}

.header-logo, .sticky-header-catolog, .sticky-header-controls {
    display: flex;
    float: left;
}

.header-input-field {
    top: 0;
    height: auto;
    padding: 0;
    max-width: 100%;
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    flex-grow: 1;
}

.header-form-div-search > input {
    line-height: 24px;
    border: 0;
    height: 52px;
    padding: 9px 96px 9px 15px;
    border-radius: 4px;
    font-size: 16px;
    font-family: inherit;
    font-weight: 400;
    text-overflow: ellipsis;
    width: 100%;
    outline: none;
    display: block;
}

.header-form-div-search > button {
    cursor: pointer;
    align-items: center;
    justify-content: center;
    background-color: var(--header-clickable-elem);
    border: 0;
    border-radius: 4px;
    position: absolute;
    right: 4px;
    height: 44px;
    width: 44px;
    top: 4px;
}

.form-search-button  > svg {
    fill: var(--full-white);
}

.header-controls-div-profile {
    display: flex;
    flex-direction: column;
}

.header-controls-div-profile > button {
    display: flex;
    background-color: transparent;
    border: 0;
    flex-direction: column;
    align-items: center;
    color: var(--full-white);
    padding: 0;
}

.header-profile-controls > span {
    display: block;
    margin-top: 2px;
    font-family: Inter, sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
}

.header-controls-div-profile > button > svg {
    fill: var(--full-white);
    display: block;
}

.sticky-header-controls {
    align-items: center;
    display: flex;
    margin-left: auto;
}

.header-form-div-search {
    width: 100%;
    border: none;
}


button[class^="header-controls-"] {
    background-color: transparent;
    display: flex;
    border: 0;
    flex-direction: column;
    align-items: center;
    color: var(--full-white);
    padding: 0;
    margin-left: 24px;
}

button[class^="header-controls-"], .header-profile-controls {
    font-family: inherit;
}

button[class^="header-controls-"] > svg {
    fill: var(--full-white);
}

button[class^="header-controls-"] > span {
    margin-top: 2px;
    display: block;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
}

.sticky-header-controls button {
    cursor: pointer;
    transition: all 0.2s ease;
}

.sticky-header-controls button:hover {
    color: var(--text-hover);
}

button[class^="header-controls-"] svg, button.header-profile-controls > svg {
  transition: fill 0.2s ease;
}

button[class^="header-controls-"]:hover svg, button.header-profile-controls:hover > svg {
  fill: var(--text-hover);
}

@media screen and (min-width: 1400px) {
    .sticky-header-row {
        max-width: 1296px;
        padding: 12px 0;
    }

    .header-catalog-div {
        margin-right: 16px;
    }

    .header-logo {
        margin-right: 32px;
    }
}

/* Nav panel styles */

@keyframes menu-item-gradient {
    0% {
        background-position: 0 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0 50%;
    }
}

nav {
    width: 100%;
    background-color: var(--header-back);
}

.nav-panel-row {
    margin: 0 auto;
    width: 100%;
    display: flex;
    max-width: 1440px;
    align-items: center;
}

@media screen and (min-width: 1400px) {
    .nav-panel-row {
        max-width: 1296px;
    }

    .nav-panel-row > ul {
        max-width: 1296px;
        padding: 16px 0 26px;
    }
}

.nav-panel-row > ul {
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
    display: flex;
    align-items: center;
    margin: 0 auto;
}

.nav-panel-row > ul > a {
    align-items: center;
    text-decoration: none;
    display: flex;
    color: var(--full-white);
    font-family: inherit;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
}

#nav-panel-sertificate-gifts {
    padding: 4px 10px;
    gap: 8px;
}

#nav-panel-sertificate-gifts > svg{
    fill: var(--full-white);
}

#nav-panel-chitay-school {
    gap: 4px;
    padding: 8px 12px;
    border-radius: 4px;
    background: linear-gradient(69.45deg, #94c2ea,  #f5b5d9 54.28%, #b6a6db 95.72%);
    color: #000;
}

.nav-panel-row > ul > a, #nav-panel-sertificate-gifts svg{
    cursor: pointer;
    transition: all 0.2s ease;
}

.nav-panel-row > ul > a:hover {
    color: var(--text-hover);
}

#nav-panel-sertificate-gifts:hover > svg {
    fill: var(--text-hover);
}

#nav-panel-chitay-school:hover {
    animation: menu-item-gradient 4s ease .2s infinite;
    background-size: 400% 400%;
}

/* Main page styles */

.main-page-container {
    width: 100%;
}

/* Main page ad panel styles*/

.main-ad-panel {
    padding-top: 24px;
    display: flex;
    max-width: 1440px;
    align-items: center;
    margin-bottom: 80px;
}

@media screen and (min-width: 1400px) {
    .main-ad-panel {
        max-width: 1296px;
        padding-left: 0;
        padding-right: 0;
        margin-left: auto;
        margin-right: auto;
    }
}

.main-ad-panel-slider-button-left, .main-ad-panel-slider-button-right {
    top: 50%;
    display: flex;
    font-family: inherit;
    position: absolute;
    background-color: transparent;
    border: 0;
    border-radius: 2px;
    width: 40px;
    height: 40px;
    cursor: pointer;
    justify-content: center;
    padding: 0;
    background-color: hsla(0, 0%, 100%, 0.1);
    box-shadow: 0 0 0 4px rgba(188, 228, 245, 0);
    transition: all 0.2s ease;
    align-items: center;
}

.main-ad-panel-slider-button-left > svg, .main-ad-panel-slider-button-right > svg {
    fill: var(--full-white);
}

.main-ad-panel-slider-button-left {
    margin-left: 0;
    transform: translate3d(32px, -50%, 0);
}

.main-ad-panel-slider-button-right {
    left: 100%;
    transform: translate3d(-72px, -50%, 0);
}

.main-ad-panel-slider-button-left:hover, .main-ad-panel-slider-button-right:hover {
    background-color: var(--full-white);
}

.main-ad-panel-slider-button-left:hover > svg, .main-ad-panel-slider-button-right:hover > svg {
    fill: #000;
}

button[class^="main-ad-panel-slider-button-"] svg {
    transform: scale(0.75);
}

.main-ad-panel-slider {
    display: flex;
    position: relative;
    height: 400px;
    margin-right: 36px;
    max-width: 896px;
    align-items: center;
}

.main-ad-panel-slider > img {
    cursor: pointer;
    display: flex;
    max-width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 3px;
}

.main-ad-panel-cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 400px;
    justify-content: space-between;
    max-width: 368px;
    flex-shrink: 0;
}

.main-ad-panel-card-one, .main-ad-panel-card-two, .main-ad-panel-card-three {
    display: flex;
    border: 2px solid var(--text-top-nav);
    border-radius: 4px;
    padding: 17px 24px;
    align-items: center;
    max-width: 368px;
    cursor: pointer;
    transition: all 0.2s ease;
} 

.main-ad-panel-card-one > img {
    width: 72px;
}

.main-ad-panel-card-container {
    margin-right: 30px;
    align-items: center;
    overflow: hidden;
    word-break: break-word;
}

.main-ad-panel-card-info-top {
    display: flex;
    margin-bottom: 6px;
    font-size: 20px;
    font-weight: 500;
    line-height: 22px;
}

.main-ad-panel-card-info-bot {
    display: flex;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    color: #707783;
}

.main-ad-panel-card-one:hover, .main-ad-panel-card-two:hover, .main-ad-panel-card-three:hover {
    background: var(--header-back);
    border: 2px solid var(--header-back);
    box-shadow: 0 4px 12px rgba(13, 12, 34, .2);

    .main-ad-panel-card-info-bot, .main-ad-panel-card-info-top {
        color: var(--full-white);
    }
} 

/* Main page product shelves styles*/

.product-shelf-new-literature {
    max-width: 1440px;
    align-items: center;
}

.new-literature-header {
    display: flex;  
    align-items: center;
    position: relative;
}

@media screen and (min-width: 1400px) {
    .product-shelf-new-literature {
        max-width: 1296px;
        margin: 0 auto;
    }

    .new-literature-header {
        margin: 0 auto 40px auto;
    }

    .new-literature-shelf-cards {
        margin: 0 auto 80px auto;
    }
}

.new-literature-shelf-title-container {
    display: flex;
    align-items: center;
}

.new-literature-shelf-title:hover {
    color: var(--header-back);
}

.new-literature-shelf-title {
    text-decoration: none;
    text-transform: uppercase;
    color: #000;
    font-size: 30px;
    letter-spacing: 0.6px;
    line-height: 132%;
    font-weight: 600;
    transition: color 0.2s ease;
}

.new-literature-shelf-all {
    position: absolute;
    align-items: center;
    text-decoration: none;
    display: flex;
    right: 0;
    color: var(--header-back);
    font-size: 14px;
    font-weight: 500;
    line-height: 144%;
    transition: color 0.2s ease;
}

.new-literature-shelf-all:hover {
    color: var(--color8);
}

.new-literature-shelf-all > span {
    margin-left: 8px;
    padding-right: 6px;
}

.new-literature-shelf-all > svg {
    fill: var(--header-back);
}


.new-literature-shelf-cards-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /*height: 536px;*/
    margin-left: -8px;
    margin-right: -8px;
}

div[class^="new-literature-card-"] {
    display: flex;
    flex-direction: column;
    padding: 0 8px;
}

.new-literature-cards-x-container {
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 0 8px;
    flex: 0 0 16.6666666667%;
    width: 16.6666666667%;
}

div[class^="new-literature-card-"] > a > picture {
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    cursor: pointer;
}

div[class^="new-literature-card-"] > a > picture > img {
    max-height: 100%;
    max-width: 100%;
    width: 100%;
}

div[class^="new-literature-card-"] > a  {
    position: relative;
    margin-bottom: 12px;
    height: 280px;
}

.card-x-badges {
    position: absolute;
    bottom: -4px;
    left: -8px;
    display: flex;
    gap: 4px;
}

.card-x-badges > svg {
    height: 24px;
    width: 24px;
    cursor: pointer;
}

.card-x-price {
    align-items: center;
    display: flex;
    min-height: 46px;
    position: relative;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 12px
}

.card-x-price-block {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
}

.old-price {
    color: #707783;
    display: block;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    position: relative;
    white-space: nowrap;
}

.old-price > svg {
    left: -2px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: calc(100% + 4px);
}

.new-price {
    font-size: 20px;
    font-weight: 500;
    line-height: 26px;
    color: #f34a57;
}

.card-x-price-sale {
    display: inline-flex;
    align-items: center;
    background-color: #cc3e49;
    border-radius: 24px;
    font-size: 13px;
    font-family: inherit;
    font-weight: 500;
    color: var(--full-white);
    justify-content: center;
    line-height: 20px;
    min-width: 20px;
    padding: 0 6px;
}

.card-x-title {
    display: flex;
    flex-direction: column;
    min-height: 106px;
    cursor: pointer;
    margin-bottom: 12px;
}

.card-x-title:hover {
    color: var(--header-back);
}

.card-x-title-container {
    width: 100%;
}

.book-title {
    line-clamp: 2;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-word;
}

.book-author {
    line-clamp: 2;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    color: #707783;
    display: -webkit-box;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    overflow: hidden;
    padding-top: 6px;
    text-overflow: ellipsis;
    word-break: break-word;
}

.card-x-rating {
    display: flex;
    align-items: center;
    margin-top: auto;
    margin-bottom: 12px;
}

.card-x-rating:hover {
    cursor: pointer;
}

.card-x-star-rating {
    display: flex;
    margin-right: 9px;
}

.card-x-star-rating > svg > path {
    fill: #fbb500;
}

.card-x-rating-count {
    font-size: 14px;
    line-height: 20px;
    color: var(--color9);
}

.card-x-buttons {
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    font-weight: 600;
    height: 36px;
    letter-spacing: .02em;
    line-height: 18px;
    text-transform: uppercase;
    width: 100%;
}

.button-buy {
    display: flex;
    cursor: pointer;
    align-items: center;
    color: var(--full-white);
    background-color: var(--header-back);
    margin-right: 8px;
    border: 0px;
    border-radius: 4px;
    font-family: inherit;
    justify-content: center;
    padding: 0;
    transition: color .2s ease, background-color .2s ease;
    width: 100%;
}

.button-buy:hover {
    background-color: var(--color10);
}

.button-buy > span {
    color: inherit;
    text-align: center;
}

.add-to-bookmarks {
    flex-shrink: 0;
    height: 36px;
    width: 36px;
    cursor: pointer;
    background-color: #ecf6fe;
    color: #26a9e0;
    display: flex;
    font-family: inherit;
    justify-content: center;
    padding: 0;
    transition: color .2s ease, background-color .2s ease;
    border: 0;
    border-radius: 4px;
    align-items: center;
}

.add-to-bookmarks > svg > path {
    stroke: var(--header-back);
}

.add-to-bookmarks:hover {
    background-color: #def0ff;
}