*, :after, :before {
    box-sizing: border-box;
}

:root {
    --full-white: #fff;
    --text-top-nav: #edf3f7;
    --text-hover: #9ddbf8;
    --header-back: #26a9e0;
    --header-clickable-elem: #2660ab;
    --header-button-hover: #225496;
}

::placeholder {
    opacity: 0.6;
}

html {
    scroll-behavior: smooth;
    scrollbar-width: 15px;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Inter', sans-serif;
    position: relative;
}

/* Top-nav div styles */

div.top-nav {
    width: 100%;
    background-color: #1d96c9;
    white-space: nowrap;
    border-bottom: 16px solid var(--header-back);
}                                                                                                                                                               

.top-nav-refs ul, .top-nav-refs-right-align ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.top-nav-refs {
    max-width: 1440px;
    align-items: center;
    display: flex;
    margin: 0;
}


.top-nav-elem > li {
    float: left;
    margin-left: 32px;
    display: flex;
}

.top-nav-center {
    position: relative;
    max-width: 1440px;
    padding: 10px 32px;
    margin: 0 auto;
    align-items: center;
    display: flex;
}

div.top-nav-refs-right-align {
    position: absolute;
    right: 0;
    display: flex;
    margin-left: auto;
    align-items: center;
    flex-grow: 1;
}

@media screen and (min-width: 1400px) {
    .top-nav-center {
        max-width: 1296px;
        padding-left: 0;
        padding-right: 0;
    }

    .top-nav-refs {
        max-width: 1296px;
    }

    .top-nav-refs-right-align {
        padding-left: 32px;
    }
}

li.last-top-nav-elems {
    float: left;
    margin-left: 20px;
}

#top-nav-elem-tel {
    padding-left: 8px;
    padding-right: 8px;
}

button.top-nav-elem, .top-nav-elem > li > button > span {
    background-color: transparent;
}

button.top-nav-elem{
    width: auto;
    font-weight: 500;
    padding: 0;
}
                                                                                                   
.top-nav-elem > li > a, .top-nav-refs-right-align > a, button.top-nav-elem {
    line-height: 18px;
    border: none;
    align-items: center;
    font-size: 12px;
    font-weight: 400;
    color: var(--text-top-nav);
    display: block;
    text-decoration: none;
    text-decoration-style: solid;
    text-align: left;
}

.top-nav-elem > li > a, .top-nav-refs-right-align > a {
    transition: color 0.2s ease;
}

.top-nav-elem> li > a:hover, .top-nav-refs-right-align > a:hover {
    color: var(--full-white);
}

button.top-nav-elem {
    cursor: pointer;
}

.svg-icon {
    fill: var(--full-white);
    display: block;
    float: left;
    margin-right: 4px;
}

#top-nav-place-span {
    font-weight: 500;
    line-height: 18px;
    max-width: 100%;
    font-family: Inter, sans-serif;
}

#top-nav-elem-button:hover {
    color: var(--text-hover);
}

#top-nav-elem-button {
    display: flex;
    color: var(--full-white);
    transition: color 0.2s ease;
}

button.top-nav-elem svg {
    transition: fill 0.2s ease;
}

button.top-nav-elem:hover svg {
    fill: var(--text-hover);
}

/* Header styles */

header {
    width: 100%;
    background-color: var(--header-back);
}

.sticky-header-row {
    position: relative;
    max-width: 1440px;
    margin: 0 auto;
    align-items: center;
    display: flex;
    padding: 8px 32px;
    width: 100%;
}

.header-row-elems {
    max-width: 1440px;
    display: flex;
    margin: 0;
    width: 100%;
}

.header-logo-icon {
    display: flex;
    align-items: center;
}

.header-logo, .sticky-header-catolog {
    margin-right: 32px;
}

.sticky-header-catolog {
    padding-top: 0;
    margin-right: 44px;
    width: 100%;
}

.header-catalog-div {
    cursor: pointer;
    margin-right: 12px;
    justify-items: center;
    display: flex;
    border: 0;
    border-radius: 4px;
    background-color: var(--header-clickable-elem);
    align-items: center;
}

.header-catalog-div > button > span {
    color: var(--full-white);
    font-weight: 600;
}

.header-catalog-div button {
    cursor: pointer;
    font-family: inherit;
    border: 0;
    background-color: transparent;
    display: flex;
    font-size: 15px;
    padding: 10px 16px;
    line-height: 20px;
    font-weight: 600;
}

.header-catalog-div, .form-search-button {
    transition: background-color 0.3s ease;
}

.header-catalog-div:hover, .form-search-button:hover {
    background-color: var(--header-button-hover);
}

.header-catalog-div svg {
    fill: var(--full-white);
    margin-right: 8px;
}

.header-logo, .sticky-header-catolog, .sticky-header-controls {
    display: flex;
    float: left;
}

.header-input-field {
    top: 0;
    height: auto;
    padding: 0;
    max-width: 100%;
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    flex-grow: 1;
}

.header-form-div-search > input {
    line-height: 24px;
    border: 0;
    height: 52px;
    padding: 9px 96px 9px 15px;
    border-radius: 4px;
    font-size: 16px;
    font-family: inherit;
    font-weight: 400;
    text-overflow: ellipsis;
    width: 100%;
    outline: none;
    display: block;
}

.header-form-div-search > button {
    cursor: pointer;
    align-items: center;
    justify-content: center;
    background-color: var(--header-clickable-elem);
    border: 0;
    border-radius: 4px;
    position: absolute;
    right: 4px;
    height: 44px;
    width: 44px;
    top: 4px;
}

.form-search-button  > svg {
    fill: var(--full-white);
}

.header-controls-div-profile {
    display: flex;
    flex-direction: column;
}

.header-controls-div-profile > button {
    display: flex;
    background-color: transparent;
    border: 0;
    flex-direction: column;
    align-items: center;
    color: var(--full-white);
    padding: 0;
}

.header-profile-controls > span {
    display: block;
    margin-top: 2px;
    font-family: Inter, sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
}

.header-controls-div-profile > button > svg {
    fill: var(--full-white);
    display: block;
}

.sticky-header-controls {
    align-items: center;
    display: flex;
    margin-left: auto;
}

.header-form-div-search {
    width: 100%;
    border: none;
}


button[class^="header-controls-"] {
    background-color: transparent;
    display: flex;
    border: 0;
    flex-direction: column;
    align-items: center;
    color: var(--full-white);
    padding: 0;
    margin-left: 24px;
}

button[class^="header-controls-"], .header-profile-controls {
    font-family: inherit;
}

button[class^="header-controls-"] > svg {
    fill: var(--full-white);
}

button[class^="header-controls-"] > span {
    margin-top: 2px;
    display: block;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
}

.sticky-header-controls button {
    cursor: pointer;
    transition: all 0.2s ease;
}

.sticky-header-controls button:hover {
    color: var(--text-hover);
}

button[class^="header-controls-"] svg, button.header-profile-controls > svg {
  transition: fill 0.2s ease;
}

button[class^="header-controls-"]:hover svg, button.header-profile-controls:hover > svg {
  fill: var(--text-hover);
}

@media screen and (min-width: 1400px) {
    .sticky-header-row {
        max-width: 1296px;
        padding: 12px 0;
    }

    .header-catalog-div {
        margin-right: 16px;
    }

    .header-logo {
        margin-right: 32px;
    }
}

/* Nav panel styles */

@keyframes menu-item-gradient {
    0% {
        background-position: 0 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0 50%;
    }
}

nav {
    width: 100%;
    background-color: var(--header-back);
}

.nav-panel-row {
    margin: 0 auto;
    width: 100%;
    display: flex;
    max-width: 1440px;
    align-items: center;
}

@media screen and (min-width: 1400px) {
    .nav-panel-row {
        max-width: 1296px;
    }

    .nav-panel-row > ul {
        max-width: 1296px;
        padding: 16px 0 26px;
    }
}

.nav-panel-row > ul {
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
    display: flex;
    align-items: center;
    margin: 0 auto;
}

.nav-panel-row > ul > a {
    align-items: center;
    text-decoration: none;
    display: flex;
    color: var(--full-white);
    font-family: inherit;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
}

#nav-panel-sertificate-gifts {
    padding: 4px 10px;
    gap: 8px;
}

#nav-panel-sertificate-gifts > svg{
    fill: var(--full-white);
}

#nav-panel-chitay-school {
    gap: 4px;
    padding: 8px 12px;
    border-radius: 4px;
    background: linear-gradient(69.45deg, #94c2ea,  #f5b5d9 54.28%, #b6a6db 95.72%);
    color: #000;
}

.nav-panel-row > ul > a, #nav-panel-sertificate-gifts svg{
    cursor: pointer;
    transition: all 0.2s ease;
}

.nav-panel-row > ul > a:hover {
    color: var(--text-hover);
}

#nav-panel-sertificate-gifts:hover > svg {
    fill: var(--text-hover);
}

#nav-panel-chitay-school:hover {
    animation: menu-item-gradient 4s ease .2s infinite;
    background-size: 400% 400%;
}
